<head>
    <title>
        Train
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	s<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Aky8iHBuTOohb7RN4PAPLEFP8FAjDadOXwfSWB7M7w2jArC-7u4TgDIefum6iQ1j'></script>
    <script type='text/javascript' src='/scripts/map.js'></script>
</head>