<div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><i class="material-icons large">train</i>Falcon</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons">home</i></a></li>
                    <li><a href="/heatmap"><i class="material-icons">map</i></a></li>
                    <li><a href="/entry"><i class="material-icons">build</i></a></li>
                    <li><a href="/login"><i class="material-icons">assignment_ind</i></a></li>
                </ul>
            </div>
        </nav>
    </div>