@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "node_modules/materialize-css/sass/materialize";

.map-div {
	height: 50vh;
	margin: 0.75rem 0 1rem 0;
	padding: 0 0.75rem;
}

nav{
	background-color: #55c8ff !important;
}

.brand-logo{
	margin-left: 1.5rem;
}

.no-tabs-css {
	display: block;
	height: auto;
	white-space: unset;
}

.no-tabs-css>.no-tab-css {
	line-height: unset;
	height: auto;
	text-transform: none;
	margin: auto auto 20px;
}

.no-tabs-css>.no-tab-css>.block {
	display: block;
}

.row>.card-form {
	float: unset;
	margin: 5.75rem auto;
	padding: 0.75rem;
}

.row>.button-right {
	position: absolute;
	right: 0;
	margin-top: -0.75rem;
	margin-right: 1.5rem;
}

.heading {
	margin: 0.75rem 0 1rem 0;
	padding: 0 0.75rem;
	color: dark-grey;
	font-size: 1.75rem;
}

.relative {
	position: relative;
}

.button-top-right {
	position: absolute;
	top: -1.5rem;
	right: 0;
}

.row>.button-right {
	margin-top: -0.75rem;
	margin-right: 1.5rem;
}